:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #66ff66;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-color: black;
  background:
    radial-gradient(
      circle,
      transparent 20%,
      #000000 20%,
      #000000 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #000000 20%,
        #000000 80%,
        transparent 80%,
        transparent
      )
      25px 25px,
    linear-gradient(#003300 2px, transparent 2px) 0 -1px,
    linear-gradient(90deg, #003300 2px, #000000 2px) -1px 0;
  background-size:
    50px 50px,
    50px 50px,
    25px 25px,
    25px 25px;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-items: center;

  color: #66ff66;
}

h3 {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 0px;
  min-height: 1em;
}
h4 {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
}

button {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
input {
  accent-color: #66ff66;
}
select {
  width: 20px;
}
.hidden {
  display: none !important;
}
.separator {
  padding-bottom: 10px;
  display: block;
}
.button,
button {
  color: #66ff66;
  background-color: #112211;
  border-style: solid;
  border-color: #66ff66;
  border-radius: 5px;
  border-width: 2px;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  padding-block-end: 1px;
  padding-block-start: 1px;
  padding-inline-end: 6px;
  padding-inline-start: 6px;
  margin-bottom: 2px;
}

.container {
  margin: 0;
  display: grid;
  place-items: center;
  text-align: center;
}

#canvasContainer {
  margin: 0 auto;
}

.panel-container {
  position: absolute;
}

.left-ui {
  position: fixed;
  top: 0;
  left: 0;
  text-align: left;
  z-index: 2;
}
.right-ui {
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
  z-index: 2;
  max-width: 340px;
}

.panel {
  background-color: #111111cc;
  margin-top: 10px;
  padding: 10px;
}
.panel.left {
  border-radius: 0 10px 10px 0;
}
.panel.right {
  border-radius: 10px 0 0 10px;
}

.layerItem,
.shaderItem,
.modulatorItem {
  background-color: #11111122;
  border-style: solid;
  border-width: 1px;
  border-color: #66ff6666;
  padding: 5px;
}
.layerItem.active,
.shaderItem.active,
.modulatorItem.active {
  background-color: #ffffff22;
  color: #66ff66;
  border-color: #66ff66;
}

.layerItem .title,
.shaderItem .title,
.modulatorItem .title {
  font-family: "Orbitron", serif;
  line-height: 24px;
  float: left;
}
.layerItem .icons,
.shaderItem .icons,
.modulatorItem .icons {
  display: inline-block;
  margin-left: 5px;
}

.layerItem .settings {
  display: none;
}

.layerItem.active .settings {
  display: block;
}
